
@import url(global.css);

* {
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 40px;
    color: darkgreen;
}
.register {
    padding: 50px;
}

.register-ap {
    padding: 50px;
    border: none;

    max-width: 800px;
    margin: 0 auto;
}

.titulo {
    margin-top: 10px;
    display: flex;
  
    justify-content: center;
}

.btn-en {
    margin-top: 25px;
    max-width: 800px;
    width: 100%;
}